{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
<h1 class="text-center mb-5">О ресторане «Кущай вкусно»</h1>

<div class="row align-items-center">
    <div class="col-md-6">
        <p class="lead">
            Добро пожаловать в ресторан грузинской кухни «Кущай вкусно» — место, где оживают настоящие традиции Кавказа!
        </p>
        <p>
            Название нашего ресторана — это теплое грузинское приглашение: «კუშაი გემრიელად» (кушай вкусно)! 
			Мы создали его, чтобы каждый гость почувствовал себя как дома за настоящей грузинской супрой — щедрым застольем, полным ароматов, смеха и душевных тостов.
            Грузинская кухня для нас — это не просто еда, а настоящее искусство гостеприимства.
			Здесь сочетаются вековые рецепты с свежими ингредиентами: сочные хинкали, румяные хачапури, ароматный шашлык на углях, пикантные сациви и пхали, щедрые порции зелени и специй.
			Мы готовим по аутентичным рецептам, передаваемым из поколения в поколение, чтобы вы попробовали настоящий вкус Грузии — яркий, сытный и незабываемый.

        </p>
        <p>
            В уютном интерьере с элементами грузинской культуры — теплым деревом, национальными орнаментами и мягким освещением — вы окунетесь в атмосферу солнечного Тбилиси.
			А бокал домашнего вина или чачи идеально дополнит любое блюдо.
			Приходите к нам семьей, с друзьями или коллегами — мы всегда рады гостям, ведь в Грузии гость от Бога! Гамарджоба и кущай вкусно!
        </p>
    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/facade.jpg') }}" class="img-fluid rounded shadow" alt="Фасад ресторана">
    </div>
</div>
{% endblock %}
