{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container pt-5">  <!-- Добавили отступ сверху -->
    <div class="text-center mb-5">
        <h1 class="display-4">Добро пожаловать в «Кущай вкусно»!</h1>
        <p class="lead">Аутентичная грузинская кухня и настоящее кавказское гостеприимство</p>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="{{ url_for('static', filename='images/interior1.jpg') }}" class="img-fluid rounded shadow" alt="Интерьер ресторана">
        </div>
        <div class="col-md-6 mb-4">
            <img src="{{ url_for('static', filename='images/interior2.jpg') }}" class="img-fluid rounded shadow" alt="Уютный зал">
        </div>
    </div>
</div>
{% endblock %}